<div class="container text-center">
<h2 class="mt-5">Bienvenue sur Simplon Bordeaux</h2>
  <div class="row border-yellow bg-white p-5 my-5">
    <div class="col-12">
      <h3 class="p-2">S'inscrire</h3>
    </div>
    <div class="col-md-6">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.association :batch %>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-inputs">
          <%= f.input :avatar %>
          <%= f.input :avatar_cache, as: :hidden %>
          <%= f.input :birthday, start_year: Date.today.year - 110, end_year: Date.today.year %>
          <%= f.input :animal %>
          <%= f.input :adjective %>
          <%= f.input :description %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "S'inscrire", class: "btn btn-warning" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
      </div>
    </div>
</div>
